<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ex02</title>
</head>
<body>
    <h1>타임리프 반복문</h1>
    <h3 th:each="vo: ${list}">
        [[${vo.name}]]<br>
        [[${vo.age}]]<br>
        [[${vo.regdate}]]<br>
    </h3>
    <hr>

    <h1>타임리프 반복문, status 객체</h1>
    <h3 th:each="vo, status: ${list}">
        일련번호: [[${status.count}]]<br>
        [[${vo.name}]]<br>
        [[${vo.age}]]<br>
        [[${vo.regdate}]]<br>
    </h3>
    <hr>

    <h1>list의 age값이 짝수인 경우만 li태그로 출력(타임리프 속성은 하나의 태그에 여러 개 사용 가능)</h1>
    <h3>
        <ul>
            <li th:each="vo: ${list}" th:if="${vo.age%2 == 0}">
                [[${vo.name}]]<br>
                [[${vo.age}]]<br>
                [[${vo.regdate}]]<br>
                <br>
            </li>
        </ul>
    </h3>
    <hr>

    <h1>타임리프 block태그 - 중괄호처럼 실행되는 가짜 태그를 만들 수 있음</h1>

    <ul>
        <th:block th:each="vo: ${list}">
            <li>[[${vo.name}]]</li>
        </th:block>
    </ul>
</body>
</html>