<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ex02</title>
</head>
<body>
    <h1>ex02 화면</h1>
    <h2><a href="redirect">리다이렉트</a></h2>
    <h2><a href="redirect2">홈 화면으로 리다이렉트 보내는 코드</a></h2>

    <form action="param" method="post">
        ID: <input type="text" name="id"><br>
        PW: <input type="password" name="pw"><br>
        NAME: <input type="text" name="name"><br>
        관심종목:
        <input  type="checkbox" name="inter" value="축구">축구
        <input  type="checkbox" name="inter" value="야구">야구
        <input  type="checkbox" name="inter" value="농구">농구
        <br>

        <input type="submit" value="확인">
    </form>
</body>
</html>