<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgn08062.spring_myweb.topic.TopicMapper">

    <insert id="topicRegist" parameterType="TopicVO">
        INSERT INTO TOPIC(TOPIC_REGDATE, TOPIC_WRITER, TOPIC_NAME, TOPIC_CONTENT)
        VALUES (#{topicRegdate}, #{topicWriter}, #{topicName}, #{topicContent})
    </insert>
</mapper>